apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ azure.application_service_account }}
  namespace: {{ azure.application_namespace }}
  annotations:
    azure.workload.identity/client-id: "{{ azure.application_identity_client_id }}"
automountServiceAccountToken: true
