apiVersion: v1
kind: Service
metadata:
  name: {{ application.backend_service }}
  namespace: {{ azure.application_namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ application.backend_service }}
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
